
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet">
    <title>{{ username }}'s GetMyStats Profile</title>
</head>
    <body>
        
        <div class="container text-center">

            <!-- Username and Profile Image -->
            <h1>Welcome {{ username }}!</h1>
            <img class="rounded-circle" src="{{ profile_picture_url }}" alt="Profile Picture" width="100" height="100">

            <!-- Log Out Button -->
            <button type="button" class="btn btn-danger">
                <a href="{{ url_for('logout') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
                      </svg>
                    Logout
                </a>
            </button>

            <div class="container text-center">
                <h2>Your Playlists:</h2>
            
                <div class="row justify-content-center align-items-stretch">
                    {% for playlist in playlists %}
                    <div class="col-md-2 mb-3">
                        <div class="card h-100 d-flex flex-column justify-content-center">
                            <a href="{{ playlist.external_urls.spotify }}" target="_blank"> <!-- Add anchor tag here -->
                                <img src="{{ playlist.images[0].url }}" class="card-img-top" alt="{{ playlist.name }} cover">
                            </a>
                            <div class="card-body text-center">
                                <h6 class="card-title">{{ playlist.name }}</h6>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="container text-center">
                <h2>Your Top Artists:</h2>
            
                <div class="row justify-content-center align-items-stretch">
                    {% for artist, icon_url in top_artists %}
                    <div class="col-md-2 mb-3">
                        <div class="card h-100 d-flex flex-column justify-content-center">
                            <a href="#" target="_blank"> <!-- Add link to artist profile -->
                                <img src="{{ icon_url }}" class="card-img-top" alt="{{ artist }} icon">
                            </a>
                            <div class="card-body text-center">
                                <h6 class="card-title">{{ artist }}</h6>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
               
            
            
            
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
